<h1>Q-Questions and Comments</h1>

<h2>Today's Qs:</h2>
{{#each model as |q|}}
  {{q-tile q=q}}
{{/each}}

<br>
<div class="container">
<h5>Serious
<span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;
Humor
<span class="glyphicon glyphicon-ice-lolly-tasted"></span>&nbsp;&nbsp;
Question
<span class="glyphicon glyphicon-search"></span></h5>
</div>
