<div class="container">
  {{q-details q=model update="update"}}

  <div class="container">
    <h2>Answers</h2><hr>
  </div>

  <div class="container">
    {{new-answer q=model saveAnswer="saveAnswer"}}
  </div>

  {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
</div>
